@page
@inject UserManager<UserEntity> UserManager
@inject SignInManager<UserEntity> SignInManager
@inject IWalletRepository walletRepository
@inject ITokenRepository tokenRepository
@using EWallet.Domain.Data
@model EWallet.Domain.Models.TransactionEntity

@{
    Layout = "_Layout";

    var user = await UserManager.GetUserAsync(User);
    var wallet = walletRepository.GetWalletById(user.WalletId);
    var token = await tokenRepository.GetByUserIdAsync(UserManager.GetUserId(User));

    var publicToken = Guid.NewGuid();
}

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (token == null)
        {
            <button class="btn btn-dark token-generator-btn" onclick="setPublicToken('@publicToken')">Generate token</button>
            <h2 class="public-token"></h2>
        }
        else
        {
            <h2 class="public-token">Your public token: @token.PublicToken</h2>
        }

        <h1>@UserManager.GetUserName(User)</h1>
        <h5>(User id: @UserManager.GetUserId(User))</h5>
        <p>Current balance: <b>$@wallet.CurrentBalance</b></p>

        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="/Identity/Account/Wallet" aria-current="page">Deposit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Identity/Account/Withdraw">Withdraw</a>
            </li>
        </ul>

        <form class="w-75" method="POST">
            <div class="mb-3 mt-4">
                <label class="form-label">Amount of money to deposit</label>
                <input type="number" class="form-control Amount" id="exampleInputAmount" placeholder="Enter amount of money to deposit">
            </div>

            <select class="custom-select mb-3 Currency">
                <option value="USD" selected>USD</option>
                <option value="EUR">EUR</option>
                <option value="GEL">GEL</option>
            </select>

            <input value="@UserManager.GetUserId(User)" class="invisible UserId"/>
            <br/>
            <button class="btn btn-primary deposit-btn">Deposit</button>
        </form>
    }
    else
    {
        @Redirect("/")
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/deposit.js"></script>