@page
@inject UserManager<UserEntity> UserManager
@inject SignInManager<UserEntity> SignInManager
@inject IWalletRepository walletRepository
@using EWallet.Data
@using EWallet.Domain.Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EWallet.Domain.Models.TransactionEntity


@{
    Layout = "_Layout";

    var user = await UserManager.GetUserAsync(User);
    var wallet = walletRepository.GetWalletById(user.WalletId);
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <h1>@UserManager.GetUserName(User)</h1>
        <h5>(User id: @UserManager.GetUserId(User))</h5>
        <p>Current balance: @wallet.CurrentBalance</p>

        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/Identity/Account/Wallet" aria-current="page">Deposit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Identity/Account/Withdraw">Withdraw</a>
            </li>
        </ul>

        <form class="w-75" method="POST" asp-controller="MoneyTransfer" asp-action="Withdraw">
            <div class="mb-3 mt-4">
                <label asp-for="Amount" class="form-label">Amount of money to withdraw</label>
                <input type="number" asp-for="Amount" class="form-control" id="exampleInputAmount" placeholder="Enter amount of money to withdraw">
            </div>

            <select class="custom-select mb-3" asp-for="Currency">
                <option value="USD" selected>USD</option>
                <option value="EUR">EUR</option>
                <option value="GEL">GEL</option>
            </select>

            <input asp-for="UserId" value="@UserManager.GetUserId(User)" class="invisible"/>
            <br/>
            <button type="submit" class="btn btn-primary">Withdraw</button>
        </form>
    }
    else
    {
        @Redirect("/")
    }
</div>
</body>
</html>